torch==2.7.0
torchaudio==2.7.0
torchvision
torchcodec==0.7.0
evaluate
jiwer
indic-transliteration
parler_tts
Levenshtein
jax
langgraph
langchain
langchain_community
langchainhub
duckduckgo-search
pymongo
langchain-mongodb
langchain-huggingface
sentence-transformers
chromadb
langchain_text_splitters
langchain_chroma
edge_tts
langchain_google_genai
langchain_groq
